<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${dzhuser.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">用户名：</label>
								<div class="col-sm-8">
									<input id="dzhuser" name="dzhuser" th:value="${dzhuser.dzhuser}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">密码：</label>
								<div class="col-sm-8">
									<input id="dzhpassword" name="dzhpassword" th:value="${dzhuser.dzhpassword}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">负责人：</label>
								<div class="col-sm-8">
									<input id="dzhfzr" name="dzhfzr" th:value="${dzhuser.dzhfzr}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">用途：</label>
								<div class="col-sm-8">
									<input id="dzhyongtu" name="dzhyongtu" th:value="${dzhuser.dzhyongtu}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/system/dzhuser/edit.js">
	</script>
</body>
</html>
